# IntelliJ detritus
*.idea/

# Flask server uploads
**/uploads/*

# Python files
# Compiled python files
**.pyc

# Unittest result
/microservices/aa-unittest/report/*

# Docker build
/docker-images/aa-server/tmp

# Docker .env for docker-compose
/docker-topologies/runtime/*.env

# GraphQL or other files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
